services:
  frontend:
    ports:
      - 3001:3001
    build: ./frontend
  backend:
    ports:
      - 3000:3000
    build: ./backend
  socket:
    ports:
      - 8900:8900
    build: ./socket
volumes:
  mattbook: 