@import "../../../styles-base/mixins";
@import "../../../styles-base/variables";
body {
  background-color: black;
}
.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  .header {
    color: #d32f2f;
  }

  .message {
    @include center;
    color: white;
    min-height: 200px;
    min-width: 300px;
    width: 50%;
    border-radius: 15px;
    border: 1px solid #504b4b;
  }

  .btn {
    margin-top: 1rem;
  }
}
