@import "../../../styles-base/mixins";
@import "../../../styles-base/variables";

.friend-container {
  @include center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  height: 100vh;
  padding-top: 6rem;

  .friend-section {
    @include center;
    width: 30vw;
    min-width: 350px;
    max-width: 450px;
    height: 95%;
    justify-content: flex-start;
    flex: 1;

    .scroll {
      width: 90%;
      overflow: scroll;
      max-height: 100%;
    }
  }

  .row {
    flex-direction: row;
  }

  @media screen and (max-width: 600px) {
    .friend-section {
      height: 30%;
    }
  }
}
