:root {
  --color: #fff;
  --background: #121212;
  --modal-text: #121212;
};

$border-color-default: var(--color);
$border-color-blue: rgba(25, 118, 210, 0.5);
$default-border: 1px solid $border-color-default;
$dark-color: #121212;
$dark-background: black;

@function set-text-color($background) {
  @if (lightness( $background ) > 50) {
    @return #121212; // Lighter color, return black
  }
  @else {
    @return #fff; // Darker color, return white
  }
}